<ion-view view-title="İletişim">
	<ion-content class="padding">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1294.585651978525!2d30.526282!3d37.82936999999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14c5c9d7c97eac19%3A0x2ab3b1160239db2a!2sS%C3%BCleyman+Demirel+%C3%9Cniversitesi!5e1!3m2!1str!2s!4v1430657911341" width="100%" height="200" frameborder="0" style="border: 0; margin-bottom: 15px;"></iframe>
		<div class="list">
			<label class="item item-input">
				<input type="text" placeholder="Ad..">
			</label>
			<label class="item item-input">
				<input type="text" placeholder="E-mail..">
			</label>
			<label class="item item-input">
				<textarea placeholder="Mesaj.."></textarea>
			</label>
		</div>
		<button class="button button-royal button-full">GÖNDER</button>
	</ion-content>
</ion-view>
