<ion-view view-title="Program">
	<ion-content class="days padding">
		<div class="button-bar">
			<a class="button" ng-click="tab = 1">1. Gün</a>
			<a class="button" ng-click="tab = 2">2. Gün</a>
		</div>

		<ul class="list first" ng-show="tab == 1">
			<li class="item">
				<h2>Etkinlik Açılışı</h2>
				<p>Etkinliğin açılışı, program hakkında bilgilendirme yapılacaktır.</p>
			</li>
			<li class="item">
				<h2>Network Gücü</h2>
				<p>Network oluşturmanın çalışma hayatındaki ve kişisel alandaki etkileri. Avusturya Kız Lisesi'nden mezun olduktan sonra London School of Economics & Political Science'da iktisat okudu; Columbia Business School'dan MBA derecesini aldı. Okuldan sonra ilk</p>
			</li>
			<li class="item">
				<h2>Girişimcilik ve Kadın</h2>
				<p>Vistek ISRA Vision'un kuruluş hikayesi, Aytül Erçil'in girişimcilik hikayesinden aldığı dersler. Robert Kolej’den sonra Boğaziçi Üniversitesi’nde Elektronik Mühendisliği ve Matematik bölümlerini bitiren Erçil, ABD’de master ve doktorasını tamamladı. İş hayatına ise Amerika’da</p>
			</li>
		</ul>
		<ul class="list second" ng-show="tab == 2">
			<li class="item">
				<h2>PostreSQL</h2>
				<p>PostreSQL çok güzel!</p>
			</li>
			<li class="item">
				<h2>Mobile Framework</h2>
				<p>Mobile Framework olarak Framework7 veya İonic gibi hibrit uygulama geliştirme kütüphaneleri anlatılacaktır .Bu frameworkler ile android ve ios un platform bagımlılığını ortadan kaldırarak Javascript ,HTML5 ve CSS ile platform</p>
			</li>
			<li class="item">
				<h2>JavaScript & Node.js</h2>
				<p>Esra Altıntaş ile birlikte yapılacak atölyede şunlar anlatılacak:  JavaScript önyüzde Web uygulamalarının vazgeçilmez aracı olarak yıllardır HTML ve CSS ile birlikte kullanılıyor. Node.js sayesinde sunucu tarafındaki programlama ihtiyaçları da</p>
			</li>
		</ul>
	</ion-content>
</ion-view>
