<ion-view view-title="Konuşmacılar">
	<ion-content>
		<ion-list>
			<ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="speaker in speakers" type="item-text-wrap" href="#/tab/konusmaci/{{speaker.id}}">
				<img ng-src="{{speaker.face}}">
				<h2>{{speaker.name}}</h2>
				<p>{{speaker.company}}</p>
				<i class="icon ion-chevron-right icon-accessory"></i>
				<ion-option-button class="button-assertive" ng-click="remove(speaker)">Delete</ion-option-button>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
