<ion-tabs class="tabs-icon-top tabs-color-active-positive">
	<ion-tab title="Anasayfa" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/"><ion-nav-view name="tab-landing"></ion-nav-view></ion-tab>
	<ion-tab title="Konuşmacılar" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/tab/konusmacilar"><ion-nav-view name="tab-speaker"></ion-nav-view></ion-tab>
	<ion-tab title="Program" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" href="#/tab/program"><ion-nav-view name="tab-program"></ion-nav-view></ion-tab>
	<ion-tab title="İletişim" icon-off="ion-ios-location-outline" icon-on="ion-ios-location" href="#/tab/iletisim"><ion-nav-view name="tab-contact"></ion-nav-view></ion-tab>
</ion-tabs>
